
.about 
{
    font-weight: 900 ;
}

.questions{

    background-size: 100% 100% ; 
}

.questions .header {

    background : none  ; 
}

.about .header .list-name 
{

    width : 18% ;  

}

.about .body , 
.questions .body   
{
    font-size: 22px ; 
    display :grid ; 
    grid-template-rows : 1fr auto  ; 

}
.about .body    
{

    background-image: url("../images/about/Layer\ 14.png");
    background-size: 100% 100% ; 

}

.about .body .one{
    direction: rtl ;
    display :flex; 
    flex-direction : column ; 
    justify-content : center ; 
    align-items : center ; 
   
}

.about .body .two p  {
    
    width : 80% ; 
    margin : 10px auto ; 
    position : relative; 

}

.about .body .two p img {
    
    width : 100% ;   

}
.about .body .two p .img-two {
    position : absolute ; 
    left : 23%  ; 
    width: 10%  ;  
    cursor : pointer ; 
  
  }



.about .body .one p 
{
cursor : pointer ; 
}

.about .body .one p img 
{
  height: 50px ;  

}

 





@media screen and (max-width: 600px) {

    .about .body   
    {

        font-size: 16px ; 

    }



}

@media screen and (max-width: 768px) {


}
