
.home{

    height: 100vh ;
    background-image: url("../images/home/Layer 520.png");
    background-size :100% 100%  ; 

}

.home .language{
    color: #fff ;
    padding : 10px 20px ; 
    font-size : 20px ; 
}

.home .cont-icon{
     
     
    display :flex ;  
    margin-top: 5% ;  
}

.home .container {
     
    width:  10%  ;
    position: relative ;
}

.home .two{
    width:  14%   ;
}

.home .container .img_2 , .home .container p {
    position: absolute; 
}

.home .container p {
    top:    35%     ;
    left : 30%   ; 
    color: white;
    font-size: 1.5rem ; 
    cursor: pointer; 

}

.home .two p {
    top:    55%     ;
}


.home div .img_2  {  

    top: 20%    ;
    left : 35%    ; 
} 

.home .container .img_2  {
    width: 30%;
}

.home .container .img_1  {
  
    width: 100% ;

}



 .home .two{
    margin-top : 40px ;    
}
.home .four{
margin-top : 60px ;    
}
.home .three{
margin-top : 20px ;    
}  



@media screen and (max-width: 600px) {


    .home .cont-icon{ 
        margin-top: 20% ;  
    }
    
    .home .container {
        width:  13%  ;
    }
    
    .home .two{
        width:  18%   ;
    }
    
    
    .home .container p {
        top:    25%     ;
        font-size: 0.8rem ; 
    }
    
    .home .two p  , 
    .home .four p 
    {
        top:    45%     ;
        left: 12%  ; 
    }
    
    
    .home div .img_2  {  
    
        top: 14%    ;
        left : 35%    ; 
    } 
 
 

}

@media screen and (max-width: 768px) {


}
