
.home{

    height: 100vh ;
    background-image: url("../images/home/Layer 520.png");
    background-size :100% 100%  ; 

}

.home .language{
    color: #fff ;
    padding : 10px 20px ; 
    font-size : 20px ; 
}


.home .container {
     
    width:  110px  ;
    height :  110px  ;
    position: relative ;
}

.home .two{
    width:  140px  ;
    height :  140px  ;
}

.home .container img , .home .container p {
   
    position: absolute; 

}

.home .container p {
    top:    55%     ;
    left : 30%   ; 
    color: white;
    font-size: 1.5rem ; 
    cursor: pointer; 

}


.home div .img_2  {  

    top: 20%    ;
    left : 35%    ; 
} 

.home .container .img_2  {
  
    width: 30%;

}

.home .container .img_1  {
  
    width: 100% ;

}


.home .one{
    top : 16% ;
    left : 40px ; 
}
.home .two{
    top : 9.6%  ;
    left : 125px ; 
}
.home .four{
    top : -38.4%  ;
    left : 250px ; 
}
.home .three{
    top : -9.4%  ;
    left : 330px ; 
}
