*{
    box-sizing: border-box ;
}

.w-100{
    width: 100%;
}

input , select{
    padding : 5px ; 
    direction: rtl ;
    outline :none ; 
    border:none ; 
    font-size : 15px ; 
    border-radius: 5px ;
}


body{
    margin: 0; 
    padding: 0; 
}
p{
    margin: 0; 
}

.header div     
{
    display : flex  ;  
    align-items : center; ;  
}

.header   
{
    background-image :url("../images/المنتجات/شفاف.png") ; 
    padding : 0 10px ; 
    display :flex ; 
    justify-content : space-between ; 
    align-items : center; 
}

.arrow{
    cursor : pointer; 
}

.footer img   
{
    width: 100% ; 
}

.header div p ,
.body .two p 
{ 
    padding : 0 ; 
    margin : 0 ; 
    font-size : 30px  ; 
    color :#FBA30B  ;
    text-shadow:1px 1px 1px  #000000 ;
}


.products , 
.audio-products , 
.audio2-products , 
.body-products , 
.optical-products  ,
.about  ,
.questions  , 
.register  ,
.paying , 
.receipt ,
.confirmed , 
.payingElectron ,
.confirmedElectron , 
.contact 
{

    width: 100% ;
    min-height : 100vh ; 
    display :grid ; 
    grid-template-rows : auto  1fr auto ;
    display : none;
}

